<!doctype html>

<a href="logout">
<button type="button" class="btn btn-default btn">
<span class="glyphicon glyphicon-off glyphicons-lg"></span> Logout
</button>
</a>

<div id="content" class="content">
<h3> Completed Workouts </h3>
{{#each completedworkouts}}
<p>
{{datetime}}: workout id: {{wid}} by {{aid}}<br>

</p>
{{/each}}

</div>
