<!doctype html>

<div id="content" class="content">
<h3> My Completed Workouts </h3>

{{#if completedWorkouts}}
	{{#each completedWorkouts}}
		<p> {{title}} ({{finished}})<br> </p>
	{{/each}}
{{else}}
	No Completed Workouts!
{{/if}}
</div>
