<!doctype html>

<div id="content" class="content">
<h3> My Completed Workouts </h3>

{{#if compledWorkouts}}
	{{#each completedworkouts}}
		<p> {{datetime}}: workout id: {{wid}}<br> </p>
	{{/each}}
{{else}}
	No Completed Workouts!
{{/if}}
</div>
