<!doctype html>

<a href="logout">
<button type="button" class="btn btn-default btn">
<span class="glyphicon glyphicon-off glyphicons-lg"></span> Logout
</button>
</a>

<div id="content" class="content">
<h3> My Completed Workouts </h3>

{{#each completedworkouts}}






<p> {{datetime}}: workout id: {{wid}}<br> </p>


{{/each}}

</div>
