<!doctype html>

<h3>Create a Workout</h3>
<form id="createWorkoutForm" class="form" role="form" method="post" action="/createWorkout">
    <!-- TITLE WORKOUT -->
    <input id="title" type="text" class="form-control" placeholder="Workout Title" name="title" autofocus>

<!--     <input type="text" class="form-control" placeholder="To be completed by (mm/dd/yy)" name="dueDate"> -->

    <!-- WORKOUT DESCRIPTION -->
    <textarea cols="50" rows="3" name="description" placeholder="Workout Description"></textarea>

    <!-- EXERCISES -->
    <br>
    <div id="exercisesCreated">
        <h4>Exercises</h4>
        <p class="caption">Please fill in all the fields in each exercise.</p>
    </div>
    <input type="hidden" id="numExercises" name="numExercises" value="0">
    <button class="btn btn-primary" id="addExercise" type="button"><span class="glyphicon glyphicon-plus-sign glyphicons-lg pull-left"></span>&nbsp; Add Exercise</button>
    <br />
    <br />
    <button class="btn btn-success btn-lg" type="submit">Save Workout</button>
</form>

