<!doctype html>

<h3>Create a Workout</h3>
<form class="form" role="form" method="post" action="/createWorkout">
    <!-- TITLE WORKOUT -->
    <input type="text" class="form-control" placeholder="Workout Title" name="title" required autofocus>
<!--     <input type="text" class="form-control" placeholder="To be completed by (mm/dd/yy)" name="dueDate"> -->
    <!-- WORKOUT DESCRIPTION -->
    <textarea cols="50" rows="3" name="description" placeholder="Workout Description"></textarea>

    <!-- EXERCISES -->
    <br>
    <div id="exercisesCreated">
        <h4>Exercises</h4>
        <p class="caption">Please fill in all the fields in each exercise.</p>
    </div>
    <input type="hidden" id="numExercises" name="numExercises" value="0">
    <button class="btn btn-primary" id="addExercise" type="button"><span class="glyphicon glyphicon-plus-sign glyphicons-lg pull-left"></span>&nbsp; Add Exercise</button>

    <br />
    <br />
    <button class="btn btn-success btn-lg" type="submit">Save Workout</button>
</form>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48665647-1', 'teamworkoutapp.herokuapp.com');
  ga('send', 'pageview');

</script>