<!doctype html>

{{#if isCoach}} 
<p>
Home: View workouts you created
Messages: Communicate with your players
Workouts: Create and assign workouts
Analytics: View your players’ completed workouts
Profile Picture Button (top left of screen): 
	Logout: Logout of app
	Team Page: Create a team, accept player requests
	Help: This page
	

</p>



{{/if}}


{{#if isAthlete}}
Athlete



{{/if}}