<!-- HOME Display -->

<div id="personalBests" class="display">
  <div class="panel panel-default">
    
    <div class="row">
      <div class="col-xs-6 ">
        <a href="startworkout"><div id="startWorkout" class="btn btn-success btn-block">
          <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
        </div></a>
      </div>
      <div class="col-xs-6"><a href="analytics"><div id="viewAnalytics" class="btn btn-default btn-block disable">
           View Your Analytics
      </div></a></div>
    </div>
    
    

    <div class="panel-heading"> 
      Personal Bests
    </div>
    {{msg}}
    <table class="table">
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
    </table>
  </div>
</div> 

