<!doctype html>

<!-- PERSONAL DISPLAY -->

<div id="personalBests" class="display">
  <div class="row">
  <div class="col-xs-4">
    <a href="/startworkout" id="beginWorkoutBtn" class="btn">
      <img src="img/goworkout-icon.png" alt="Start Workout">
    </a>
  </div>
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading"> 
        Completed Workouts
      </div>
     
      <table class="table">
        {{#unless completedWorkouts}}
        <tr>
          <td> No Current Tasks! </td>
        </tr>
        {{/unless}}
        {{#each completedWorkouts}}
        <tr class="btn">
          <td id="date"> {{datetime}} </td>
          <td id="title"> {{title}} </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading"> 
      To-Do List
    </div>
   
    <table class="table">
      {{#unless currentTasks}}
      <tr>
        <td><center> No Current Tasks! </center></td>
      </tr>
      {{/unless}}
      {{#each currentTasks}}
      <tr class="btn">
        <td id="date"> {{datetime}} </td>
        <td id="title"> {{title}} </td>
      </tr>
      {{/each}}
    </table>
  </div>
</div> 
<!-- END OF PERSONAL DISPLAY -->


