<!-- PROFILE NAVIGATION -->
<div id="profileNav" class="">
  <ul class="navbar nav-tabs">
    {{#if athlete}}
      <li>
        <a href="#" id="personal" class="profileLink btn">
          <img src="img/personal_profile_pic.png" alt="Personal profile">
          <h6>You</h6>
        </a>
      </li>
    {{/if}}
    {{#each teams}}
      <li>
        <a href="#" id="team1" class="profileLink btn">
          <img src="img/team1_profile_pic.png" alt="Team 1">
          <h6>Team 1</h6>
        </a>
      </li>
    {{/each}}
      <a href="logout">
        <button type="button" class="btn btn-default btn">
          <span class="glyphicon glyphicon-off glyphicons-lg"></span> Logout
        </button>
      </a>
  </ul>
</div>
<!-- END OF PROFILE NAVIGATION -->

<!-- PERSONAL DISPLAY -->
<div id="personalBests" class="display">
  <div class="panel panel-default">
    <a href="startworkout"><div id="startWorkout" class="btn btn-success btn-block">
      <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
    </div></a>
    <div class="panel-heading"> 
      Personal Bests
    </div>
    {{msg}}
    <table class="table">
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
      <tr class="btn">
        <td id="date"> 01FEB14 </td>
        <td id="activity"> Mile Run </td>
        <td id="result"> 5m 35s </td>
      </tr>
    </table>
  </div>
</div> 
<!-- END OF PERSONAL DISPLAY -->
