<!doctype html>

<!-- HOME DISPLAY -->

  <div class="row">
  <div class="col-xs-4">
    <a href="/goWorkout0" id="beginWorkoutBtn" class="btn btn-primary">
      <img src="img/goworkout-icon.png" alt="Start Workout" class="img-circle">
      <h4>Start Workout</h4>
    </a>
  </div>
  <div class="col-xs-8">
    <div id="selectWorkout" class="panel panel-default">
      <div class="panel-heading"> 
        Select a Workout
      </div>
      <div class="table-responsive">
        <table class="table">
          {{#unless userWorkouts}}
            <tr>
              <td> You don't have any Workouts yet. </td>
            </tr>
          {{/unless}}
          {{#each userWorkouts}}
            <tr id="workout">
              <td id="{{wid}}" type="button" class="btn"> {{title}} </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading"> 
      To-Do List
    </div>
   
    <table class="table">
      {{#unless currentTasks}}
      <tr>
        <td><center> No Current Tasks! </center></td>
      </tr>
      {{/unless}}
      {{#each currentTasks}}
      <tr class="btn">
        <td id="date"> {{datetime}} </td>
        <td id="title"> {{title}} </td>
      </tr>
      {{/each}}
    </table>
  </div>


