<a href="logout">
  <button type="button" class="btn btn-default btn">
    <span class="glyphicon glyphicon-off glyphicons-lg"></span> Logout
  </button>
</a>

<p>
  NEED A FORM TO UPDATE CERTAIN CHOICES AND ADD A TEAM THROUGH A COACH.
</p>
