<a href="logout">
  <button type="button" class="btn btn-default btn">
    <span class="glyphicon glyphicon-off glyphicons-lg"></span> Logout
  </button>
</a>

<p>
{{#each teams}}
    <a href="#"><button class="btn btn-lg btn-primary" type="submit">Team #{{tid}}</button>
{{/each}}
<form class="form-signin" role="form" method="get" action="/settings">
    <h2 class="form-signin-heading">Enter Coach's Email</h2>

    <input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>

<!--     {{msg}}
 -->    <button class="btn btn-lg btn-primary" type="submit">Find Team</button>
</form>
</p>
