<!doctype html>

<a href="workout/pause">
  <button type="button" class="btn btn-danger btn">
    <span class="glyphicon glyphicon-pause glyphicons-lg"></span> Pause
  </button>
</a>

<div id="content">
    <form class="form" role="form" method="get" action="/goWorkout0">
        <ul class="list-unstyled">
            {{#each exercises}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
        <button class="btn btn-lg btn-success" type="submit">Start Now</button>
    </form>
</div>