<a href="workout/pause">
  <button type="button" class="btn btn-danger btn">
    <span class="glyphicon glyphicon-pause glyphicons-lg"></span> Pause
  </button>
</a>

    <table class="table">
      <tr class="btn">
        <a href="#">Monday Run</a>
      </tr>
      <tr class="btn">
        <a href="#">Tuesday Sprints</a>
      </tr>
      <tr class="btn">
        <a href="#">Wednesday Lifting</a>
      </tr>
      <tr class="btn">
        <a href="#">Thursday Yoga</a>
      </tr>
      <tr class="btn">
        <a href="#">Monday Run</a>
      </tr>
    </table>