<!doctype html>

<a href="/startWorkoutCreation">
  <button type="button" class="btn btn-default">Create Workout</button>
</a>

<a href="/assign">
  <button type="button" class="btn btn-default">Assign Workout</button>
</a>

<div id="selectWorkout" class="panel panel-default">
    <a href="goWorkout0"><div id="startWorkout" class="btn btn-primary btn-block btn-large">
      <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
    </div></a>
    <div class="panel-heading"> 
      Your Workouts
    </div>

    {{#if userWorkouts}}
      <table class="table">
        {{#each userWorkouts}}
          <tr id="workout">
            <td id="{{_id}}"><a href="/goWorkout{{_id}}">{{title}}</a></td>
          </tr>
        {{/each}}
      </table>
    {{else}}
        <h4>No workouts</h4>
    {{/if}}
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 // ga('create', 'UA-48665647-1', {'cookieDomain': 'none' });
  ga('create', 'UA-48665647-1', 'teamworkoutapp.herokuapp.com');
  ga('send', 'pageview');

</script>
