<!doctype html>

<a href="/startWorkoutCreation">
  <button type="button" class="btn btn-default">Create Workout</button>
</a>

<a href="/assign">
  <button type="button" class="btn btn-default">Assign Workout</button>
</a>

<div id="selectWorkout" class="panel panel-default">
    <a href="goWorkout0"><div id="startWorkout" class="btn btn-primary btn-block btn-large">
      <span class="glyphicon glyphicon-play-circle glyphicons-lg"></span> Start Workout
    </div></a>
    <div class="panel-heading"> 
      Your Workouts
    </div>

    {{#if userWorkouts}}
      <table class="table">
          {{#each userWorkouts}}
            <tr id="workout">
              <td id="{{_id}}" type="button" class="btn"> {{title}} </td>
            </tr>
          {{/each}}
      </table>
    {{else}}
        <h4>No workouts</h4>
    {{/if}}
</div>
