/* assignWorkout.css
 * styling for the assignWorkout Page
 */

#assignWorkout #selectWorkout {

}

#assignWorkout.swiper-container table{
	background-color: white;
	background-color:  rgba(255,255,255,0.65);
}

#assignWorkout.swiper-container table tr{
	width:100%;
}
#assignWorkout.swiper-container table tr td.btn{
	width:100%;
	text-align: center;
}